/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: 'IBM Plex Mono';
  --background-image: url(../images/cover-image-light.png);
  --text-in-pink: #353430; 
  --pink-background: #FF8DCB;
  --main-text: #353430; 
  --other: #353430;
  --title: #FFC2E6;
  --shadow-title: #FF0070;
  --hover: rgba(50, 49, 45, 0.4);
}

 :root.theme-light {
  --main-font: 'IBM Plex Mono';
  --background-image: url(../images/cover-image-light.png);
  --text-in-pink: #353430; 
  --pink-background: #FF8DCB;
  --main-text: #353430; 
  --other: #353430;
  --title: #FFC2E6;
  --shadow-title: #FF0070;
  --hover: rgba(50, 49, 45, 0.4);
}


/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex Mono';
    --background-image: url(../images/cover-image-light.png);
    --text-in-pink: #353430; 
    --pink-background: #FF8DCB;
    --main-text: #353430; 
    --other: #353430;
    --title: #FFC2E6;
    --shadow-title: #FF0070;
    --hover: rgba(50, 49, 45, 0.4);
    /* Дублируем переменные светлой темы */
  }
}
.theme_light .rec {
  display: none;
  opacity: 0;

}
