/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: 'IBM Plex Mono';
  --bg-color: #353430;
  --pink: #FF8DCB;
  --main-text: #353430;
  --color-title: #FFC2E6;
  --background-image: url(../images/cover-image-light.png);
}

:root.theme-light {
  /* Переменные светлой темы */
  --main-font: 'IBM Plex Mono';
  --bg-color: #353430;
  --pink: #FF8DCB;
  --main-text: #353430;
  --color-title: #FFC2E6;
  --background-image: url(../images/cover-image-light.png);

}


/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex Mono';
    --bg-color: #353430;
    --pink: #FF8DCB;
    --main-text: #353430;
    --color-title: #FFC2E6;
    --background-image: url(../images/cover-image-light.png);
    /* Дублируем переменные светлой темы */
  }
}
.theme_light .rec {
  display: none; /* Скрываем элемент в светлой теме */
  opacity: 0;

}
/* Остальные стили */