/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
body>* {
  padding-inline: 10px;
}

.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--main-text, #F1B2CE);
  font-family: var(--main-font, monospace);
  background-color: var(--bg-color, #000028);
  font-size: 18px;
}

.section {
  margin-block-start: 50px;
}

.section:first-of-type {
  margin-block-start: 40px;
}

.section:last-of-type {
  margin-block-end: 30px;
}

/* REC */
.rec {
  position: absolute;
  top: 11px;
  right: 19px;
  gap: 5px;
  display: var(--rec-display);
  justify-content: center;
  align-items: center;
}

.rec::before {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  color: var(--other, #FF0070);
  text-transform: uppercase;
  z-index: 10;
  content: 'REC';
}

.rec::after {
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--other, #FF0070);
  box-shadow: 0 0 4px 2px var(--other, #ff0070);
  border-radius: 50%;
  margin-inline-end: 5px;
  right: 0px;
  left: 5px;
  top: 1px;
  position: relative;
}

/* REC */

/* менюшка */

.header__theme-menu-item {
  color: var(--other, #FF0070);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* менюшка */


/* header */

.header {
  display: grid;
  gap: 56px;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr;
  position: relative;
  height: 100vh;
  min-height: 668px;
  width: 100%;
  padding: 0;
  max-width: 1440px;
}

.header__theme-menu {
  align-self: end;
  justify-self: end;
  padding-block-start: 74px;
  padding-inline-end: 10px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--shadow-title, #FF0070);
  color: var(--title, #DB00FF);
  align-self: center;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  padding-block-start: 8px;
}

/* header */

.header__theme-menu-button {
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  text-align: center;
  border-bottom: 1px solid transparent;
  min-width: 70px;
  min-height: 26px;
  background: transparent;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}


/* состояния кнопок */

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--other, #FF0070);
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--other, #FF0070);
  pointer-events: none;
}

/* состояния кнопок */
/* link */
.line-break {
  display: block;
}

.link {
  text-shadow: 2px 2px 0 var(--pink-background, #FF0070);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--main-text, #F1B2CE);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--main-text, #F1B2CE);
}

/* link */

/*заголовки и текста блоков */

.title-decor {
  background-color: var(--pink-background, #FF0070);
  color: var(--text-in-pink, #000028);
}


.heading__title {
  align-self: end;
  justify-self: end;
  padding-inline-end: 10px;
  padding-inline-start: 10px;
}

.heading {
  font-weight: 700;
  line-height: 130%;
  text-align: left;
  font-size: 18px;
  color: var(--text-in-pink, #000028);
}

.heading-secondary {
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  /* font-size: 18px; */
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--other, #FF0070);
  border-right: 1px solid var(--other, #FF0070);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--other, #FF0070);
  border-left: 1px solid var(--other, #FF0070);
}

.heading__section {
  color: var(--other, #FF0070);
}


/*заголовки и текста блоков */


.part {
  font-weight: 400;
  line-height: 130%;
}

.focus {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* секция внимания */


.attention__list {
  flex-direction: column;
}

.attention {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* блок с золотой рыбкой */

.fish {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* блок с золотой рыбкой */



/* блок с картинками */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__item {
  width: 100%;
  margin: 0;
  padding-bottom: 5px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}


/* блок с картинками */

/* подвал */
.footer {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  height: 100vh;
  min-height: 668px;
  width: 100%;
  max-width: 1440px;
  padding: 0;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--title, #DB00FF);
  text-shadow: 2px 2px 0 var(--shadow-title, #FF0070);
  justify-self: center;
  align-self: center;
}

/* подвал */

/* 768 */


@media (min-width: 768px) {
  body>* {
    padding-inline: 20px;
  }

  /* header 768 */
  .header {
    gap: 0px;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .header__theme-menu {
    padding-inline-end: 20px;
    padding-block-start: 0px;
    padding-block-end: 53px;
  }

  .rec {
    top: 19px;
    right: 30px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-left: 0;
  }

  .heading__title {
    max-width: 384px;
    width: 100%;
    padding-inline-end: 20px;
    padding-block-start: 42px;
    align-self: auto;
    padding-inline-start: 0px;
  }

  /* header 768 */
  /* секции 768 */

  .heading__section {
    grid-column: 1;
    margin-block-start: 0px;
  }

  .content {
    grid-column: 2 / 3;
  }

  .section {
    margin-block-start: 80px;
  }

  .section:first-of-type {
    margin-block-start: 60px;
  }

  .subheading {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  /* секции 768 */

  /* focus 768*/
  .focus {
    grid-template-columns: 1fr 2fr;
  }

  /* focus 768*/

  /* attention 768 */
  .attention {
    grid-template-columns: repeat(3, 1fr);
  }

  .attention .content {
    display: grid;
    grid-column: 1 / -1;
    padding: 0;
  }

  .attention__box {
    grid-column: 1 / 2;
  }

  .attention__list {
    grid-column: 1 / -1;
  }

  /* attention 768 */

  /* fish 768 */

  .fish {
    grid-template-columns: 1fr 2fr;

    .heading__section {
      grid-column: 1;
      grid-row: 1 / span 2;
    }
  }

  /* fish 768 */

  /* галерея 768 */

  .gallery {
    gap: 20px;
  }

  .gallery-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "sunset sunset icecream"
      "player books icecream"
      "player street street"
    ;
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-area: sunset;
  }

  .gallery__item:nth-child(2) {
    grid-area: icecream;
  }

  .gallery__item:nth-child(3) {
    grid-area: player;
  }

  .gallery__item:nth-child(4) {
    grid-area: books;
  }

  .gallery__item:nth-child(5) {
    grid-area: street;
  }

  /* галерея 768 */

  /* footer 768 */

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}


/* 1024 */

@media (min-width: 1024px) {

  /* header 1024 */

  .header {
    padding-block-start: 20px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-inline-end: 0px;
    padding-block-end: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    padding-block-end: 25px;
  }

  .heading__title {
    max-width: 512px;
  }

  /* header 1024 */

  .content {
    padding-inline-start: 0px;
    grid-column: 2 / 4;
  }

  .subheading {
    grid-column: 2 / 4;
  }

  .focus,
  .fish {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .attention .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / -1;
    padding: 0;
  }

  .attention__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}