/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--salmon, #F1B2CE);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #000028);
  padding-inline: 10px;

}

.section:first-of-type {

}

.section {
  margin-block-end: 50px; /* Убираем отступ сверху для последнего */
}

.section:last-of-type {
  margin-block-end: 17px; /* Отступ снизу только для последнего */
}

/* REC */

 .rec {
  position: absolute;
  top: 11px;
  right: 9px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec::before {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--pink, #FF0070);
  text-transform: uppercase;
  z-index: 10;
  content: 'REC';
}


.rec::after {
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--pink, #FF0070);
  box-shadow: 0 0 4px 2px var(--pink, #ff0070);
  filter: blur(4px);
  border-radius: 50%;
  margin-left: 5px;
  right: 1px;
  top: 1px;
} 

/* REC */
/* менюшка */

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button_type_dark {


}

.header__theme-menu-item {
  color: var(--pink, #FF0070);
  font-size: 18px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* менюшка */





/* header */

.header {
  padding-block-start: 73px;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr;
  position: relative;
}

@media (width >=688px) {
  .header {
    padding-block-start: 192px;
  }
}

.header__theme-menu {
  align-self: end;
  justify-self: end;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  margin-block-start: 20vh; /*вопрос сереже */
  margin-block-end: 15vh; /*вопрос сереже */
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--pink, #FF0070);
  color: var(--purple, #DB00FF);
  align-self: center;

}

@midia (min-width: 768px) and (max-width: 1024px) {
  .header__title {
    margin-block-end: 20vh;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header__title {
    margin-block-end: 15vh;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* header */


.content__title {
  /* margin: 7% 0 2.5%; не пригодится */
}

button {
  background: transparent;
  border-radius: 0;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  text-align: center;
  border: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--pink);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--pink);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--pink);
  pointer-events: none;
}

/*заголовки и текста блоков */

.title-decor {
  background-color: var(--pink, #FF0070);
  color: var(--bg-color, #000028);
}


.heading__title {
  margin-block-end: 17vh; /*вопрос сереже */
  align-self: end;
  justify-self: end;
}

@media (min-width: 768px) {
  .heading__title {
    margin-block-end: 18vh;
    inline-size: 364px;
  }
}

@media (min-width: 1024px) {
  .heading__title {
    margin-block-end: 12vh;
    inline-size: 491px;
  }
}

.heading {
  font-weight: 700;
  line-height: 130%;
  text-align: left;
  font-size: 18px;
}

.heading-secondary {
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  font-size: 18px;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  padding-block-start: 2%;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;

}

.decorated-zone::before {
  top: 0;
  top: 10px;
  right: 0;
  border-top: 1px solid var(--pink, #FF0070);
  border-right: 1px solid var(--pink, #FF0070);

}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--pink);
  border-left: 1px solid var(--pink);

}

.heading__section {
  color: var(--pink, #FF0070);
  margin-block-start: 50px;
}

.heading__section:first-of-type {
  margin-block-start: 49px; /* Убираем отступ для первого */ /*вопрос сереже */
}

.heading-pink {
  margin-block-start: 20px;
  margin-block-end: 10px;
}

/*заголовки и текста блоков */


.part {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /*тут надо дописать чтобы у послденего не применялось */
}

.focus {
  display: grid;
  grid-template-columns: 1fr;
}

.content {
  display: flex;
  flex-direction: column;
}

.content__block {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .focus {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: start;
    gap: 20px;

  }

  .heading__section {
    grid-column: 1;
    margin-block-start: 0px;

  }

  .content {
    grid-column: 2;
    grid-column: 2 / -1;
  }

}

/* секция внимания */


.attention__list {
  flex-direction: column;
}

@media (min-width: 768px) {
  .attention {
    display: grid;
    grid-template-rows: auto, auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .attention__box {
    grid-column: 1 / 2;
  }

  .attention__list {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1024px) {

  .attention__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    gap: 20px;

  }
}

/* блок с золотой рыбкой */



@media (min-width: 768px) {
  .fish {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: start;
    gap: 20px;
  }

  .fish__list-items {
    grid-column: 2;
    grid-column: 2 / -1;
  }
}

/* блок с картинками */

.gallery-img {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: left;
}

.gallery__item {
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .gallery-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "sunset sunset icecream"
      "player books icecream"
      "player street street"
    ;
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-area: sunset;
  }

  .gallery__item:nth-child(2) {
    grid-area: icecream;
  }

  .gallery__item:nth-child(3) {
    grid-area: player;
  }

  .gallery__item:nth-child(4) {
    grid-area: books;
  }

  .gallery__item:nth-child(5) {
    grid-area: street;
  }
}

/* блок с картинками */

/* подвал */
.footer {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  margin-block-end: 275px;
  margin-block-start: 286px;
  line-height: 83%;
  color: var(--purple, #DB00FF);
  text-align: center;
}

@midia (min-width: 768px) and (max-width: 1024px) {
  .footer__title {
    margin-block-end: 20vh;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .footer__title {
    margin-block-end: 15vh;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* подвал */