/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex Mono';
  --background-image: url(../images/cover-image.png);
  --text-in-pink: #000028; /* -- заменится на 353430 */
  --pink-background: #FF0070; /*--заменится на FF8DCB*/
  --main-text: #F1B2CE; /*заменится на 353430*/
  --other: #FF0070; /*заменится на 353430*/
  --title: #DB00FF; /*заменится на FFC2E6*/
  --shadow-title: #FF0070; /*не поменяется */
  --hover: rgba(255, 0, 112, 0.4);
  --rec-display: flex;
}