/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex Mono';
  --bg-color: #000028;
  --pink: #FF0070;
  --salmon:#F1B2CE;
  --purple: #DB00FF;
  --background-image: url(../images/cover-image.png);

}